<br />
<div class="row">
    <div class="col-md-8">
        <h3>This is demo project of Code-First with Entity Framework</h3>
        <br />
        <p>
            Code-First feature with create database using entity framework databasecontext.
            <br />
            It also initialize data using Seed functionality.
        </p>
    </div>
</div>